<html>

<head>
    <div th:include="template :: head"></div>
    <title th:text="${accion}"></title>
</head>

<body>
    <header th:replace="template :: header"></header>

    <!--Registro Autor-->
    <section th:if="${#strings.contains(accion,'Autor')}" class="p-5">
        <form th:action="@{/autor/registro}" method="POST">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="rounded bg-gradient shadow" style="background-color: rgb(255, 207, 49);">
                    <div class="px-5 pt-5">
                        <h1 class="display-5 font-weight-bold text-center">Registro de Autores</h1>
                    </div>
                    <div class="mx-5 my-5">
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder=" " name="nombre" required>
                            <label>Nombre</label>
                        </div>
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder=" " name="apellido" required>
                            <label>Apellido</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn-lg btn-primary bg-gradient shadow">Guardar</button>
                        </div>
                        <div class="d-grid gap-2 pt-3">
                            <a href="javascript: history.go(-1)" class="btn btn-lg btn-outline-primary bg-gradient shadow">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--Registro Editorial-->
    <section th:if="${#strings.contains(accion,'Editorial')}" class="p-5">
        <form th:action="@{/editorial/registro}" method="POST">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="rounded bg-gradient shadow" style="background-color: rgb(255, 207, 49);">
                    <div class="px-5 pt-5">
                        <h1 class="display-5 font-weight-bold text-center">Registro de Editoriales</h1>
                    </div>
                    <div class="mx-5 my-5">
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder=" " name="nombre" required>
                            <label>Nombre de la editorial</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn-lg btn-primary bg-gradient shadow">Guardar</button>
                        </div>
                        <div class="d-grid gap-2 pt-3">
                            <a href="javascript: history.go(-1)" class="btn btn-lg btn-outline-primary bg-gradient shadow">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--Registro Cliente-->
    <section th:if="${#strings.contains(accion,'Cliente')}" class="p-5">
        <form th:action="@{/cliente/registro}" method="POST">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="rounded bg-gradient shadow" style="background-color: rgb(255, 207, 49);">
                    <div class="px-5 pt-5">
                        <h1 class="display-5 font-weight-bold text-center">Registro de Clientes</h1>
                    </div>
                    <div class="mx-5 my-5">
                        <div class="form-floating my-4">
                            <input type="number" class="form-control shadow" placeholder="12555333" th:value="${dni}" name="dni" required>
                            <label>DNI</label>
                        </div>
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder=" " th:value="${nombre}" name="nombre" required>
                            <label>Nombre</label>
                        </div>
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder=" " th:value="${apellido}" name="apellido" required>
                            <label>Apellido</label>
                        </div>
                        <div class="form-floating my-4">
                            <input type="number" class="form-control shadow" placeholder=" " th:value="${telefono}" name="telefono" required>
                            <label>Teléfono</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn-lg btn-primary bg-gradient shadow">Guardar</button>
                        </div>
                        <div class="d-grid gap-2 pt-3">
                            <a href="javascript: history.go(-1)" class="btn btn-lg btn-outline-primary bg-gradient shadow">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--Registro Libro-->
    <section th:if="${#strings.contains(accion,'Libro')}" class="p-5">
        <form th:action="@{/libro/registro}" method="POST">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="rounded bg-gradient shadow" style="background-color: rgb(255, 207, 49);">
                    <div class="px-5 pt-5">
                        <h1 class="display-5 font-weight-bold text-center">Registro de libros</h1>
                    </div>
                    <div class="mx-5 my-5">
                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow hover" placeholder=" " th:value="${titulo}" name="titulo" required>
                            <label>Título del libro</label>
                        </div>
                        <div class="my-4" style="height: 60px;">
                            <select class="form-select shadow" name="autorID" style="height: 60px;" required>
                                <option value="" class="">Seleccione un autor</option>
                                <optgroup label="Autores Activos">
                                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${autor.id} == ${autorID}" th:hidden="!${autor.alta}"></option>
                                </optgroup>
                                <optgroup label="Autores Inactivos">
                                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${autor.id} == ${autorID}" th:disabled="!${autor.alta}" th:hidden="${autor.alta}"></option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-floating my-4">
                            <input type="text" class="form-control shadow" placeholder="8421262489214" maxlength="13" th:value="${isbn}" name="isbn" required>
                            <label>ISBN</label>
                        </div>
                        <div class="my-4">
                            <select class="form-select shadow" name="editorialID" style="height: 60px;" required>
                                <option value="">Seleccione una editorial</option>
                                <optgroup label="Editoriales Activas">
                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" th:selected="${editorial.id} == ${editorialID}" th:hidden="!${editorial.alta}"></option>
                                </optgroup>
                                <optgroup label="Editoriales Inactivas">
                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" th:selected="${editorial.id} == ${editorialID}" th:hidden="${editorial.alta}" th:disabled="!${editorial.alta}"></option>
                                </optgroup>

                            </select>
                        </div>
                        <div class="form-floating my-4">
                            <input type="number" class="form-control shadow" placeholder="2021" th:value="${anio}" name="anio" required>
                            <label>Año de publicación</label>
                        </div>
                        <div class="form-floating my-4">
                            <input type="number" class="form-control shadow" placeholder="25" th:value="${ejemplares}" name="ejemplares" required>
                            <label>Cantidad de ejemplares</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn-lg btn-primary bg-gradient shadow">Guardar</button>
                        </div>
                        <div class="d-grid gap-2 pt-3">
                            <a href="javascript: history.go(-1)" class="btn btn-lg btn-outline-primary bg-gradient shadow">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!--Registro Préstamo-->
    <section th:if="${#strings.contains(accion,'Préstamo')}">
        
        <!--Seleccion del libro-->
        <div th:if="${param.step[0] == '1'}" class="container my-5">
            <style th:include="template :: fondotabla"></style>
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-3 text-white">Préstamo</h1>
                <h1 class="display-6 text-white">Seleccione un libro del listado</h1>
                <!-- <a href="javascript: history.go(-1)" class="btn btn-outline-light bg-gradient shadow">Volver</a> -->
            </div>

            <!-- Input buscar -->
            <div class="form-floating d-flex justify-content-center my-5">
                <input type="text" id="myInput" class="form-control shadow" placeholder=" " title="Nombre del libro">
                <label>Buscar libro</label>
            </div>

            <div class="table-responsive-xxl">
                <table id="ordenarTabla" class="table table-sm table-borderless table-hover border-dark shadow text-center lead">
                    <thead>
                        <tr class="btn-primary bg-gradient shadow-lg">
                            <!--th scope="col">ID</th-->
                            <th scope="col" onclick="sortTable(0)">ISBN</th>
                            <th scope="col" onclick="sortTable(1)">Titulo</th>
                            <th scope="col" onclick="sortTable(2)">Año</th>
                            <th scope="col" onclick="sortTable(3)">Autor</th>
                            <th scope="col" onclick="sortTable(4)">Editorial</th>
                            <th scope="col" onclick="sortTable(5)">Ejemplares</th>
                            <th scope="col" onclick="sortTable(6)">Prestados</th>
                            <th scope="col" onclick="sortTable(7)">Restantes</th>

                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable" th:each="libro : ${libros}">
                        <tr class="bg-gradient shadow-lg" th:style="${libro.ejemplaresRestantes}>0? 'background-color: rgb(255, 207, 49)' : 'background-color: #ececec; color: #b9b9b9;'">
                            <!--th scope="row" th:text=${libro.id}></th-->
                            <td th:text="${libro.isbn}"></td>
                            <td th:text="${libro.titulo}"></td>
                            <td th:text="${libro.anio}"></td>
                            <td th:text="${libro.autor.nombre}"></td>
                            <td th:text="${libro.editorial.nombre}"></td>
                            <td th:text="${libro.ejemplares}"></td>
                            <td th:text="${libro.ejemplaresPrestados}"></td>
                            <td th:text="${libro.ejemplaresRestantes}"></td>
                            <td>
                                <a th:href="@{${#httpServletRequest.requestURI}(bookID=${libro.id},step=2)}" class="btn btn-lg btn-outline-primary bg-gradient shadow" th:classappend="${libro.ejemplaresRestantes}<1? 'disabled'">SELECCIONAR</a>

                                <!-- <a th:href="@{/prestamo/registro/__${libro.id}__}" class="btn btn-lg btn-outline-primary bg-gradient shadow" th:classappend="${libro.ejemplaresRestantes}<1? 'disabled'">SELECCIONAR</a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!--Selección del cliente-->
        <div th:if="${param.step[0] == '2'}" class="container my-5">
            <style th:include="template :: fondotabla"></style>
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-3 text-white">Préstamo</h1>
                <h1 class="display-6 text-white">Seleccione un cliente del listado</h1>
                <a href="javascript: history.go(-1)" class="btn btn-outline-light bg-gradient shadow">Volver</a>
            </div>

            <!-- Input buscar -->
            <div class="form-floating d-flex justify-content-center my-5">
                <input type="text" id="myInput" class="form-control shadow" placeholder=" " title="Nombre del cliente">
                <label>Buscar Cliente</label>
            </div>

            <div class="table-responsive-xxl">
                <table id="ordenarTabla" class="table table-borderless table-hover border-dark shadow text-center lead">
                    <thead>
                        <tr class="btn-primary bg-gradient shadow-lg">
                            <th scope="col" onclick="sortTable(0)">DNI</th>
                            <th scope="col" onclick="sortTable(1)">Nombre</th>
                            <th scope="col" onclick="sortTable(2)">Apellido</th>
                            <th scope="col" onclick="sortTable(3)">Teléfono</th>
                            <th scope="col" onclick="sortTable(4)">Activo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable" th:each="cliente : ${clientes}">
                        <tr class="bg-gradient shadow-lg" th:style="${cliente.alta}? 'background-color: rgb(255, 207, 49)' : 'background-color: #ececec; color: #b9b9b9;' ">
                            <td th:text=${cliente.documento}></td>
                            <td th:text="${cliente.nombre}"></td>
                            <td th:text="${cliente.apellido}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td>
                                <i th:if="${cliente.alta}" class="bi bi-check-lg" style="font-size: 1.8rem; color: green;"></i>
                                <i th:unless="${cliente.alta}" class="bi bi-x-lg" style="font-size: 1.5rem;color: red;"></i>
                            </td>
                            <td>
                                <a th:href="@{${#httpServletRequest.requestURI}(bookID=${param.bookID},clientID=${cliente.id},step=3)}" class="btn btn-lg btn-outline-primary bg-gradient shadow" th:classappend="!${cliente.alta}? 'disabled'">SELECCIONAR</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Seleccion de fechas y confirmación-->
        <section th:if="${param.step[0] == '3'}" class="p-5">
            <style th:include="template :: fondoregistro"></style>
            <form th:action="@{/prestamo/registro}" method="POST">
                <div class="d-sm-flex align-items-center justify-content-center">
                    <div class="rounded bg-gradient shadow" style="background-color: rgb(255, 207, 49);">
                        <div class="px-5 pt-5 text-center">
                            <h1 class="display-3 r">Préstamo</h1>
                            <h1 class="display-6 ">Confirmacion de datos</h1>
                        </div>
                        <div class="mx-5 my-5">
                            <div class="form-floating my-4">
                                <input type="text" class="form-control shadow" placeholder="" th:value="${param.bookID}" name="libroID" hidden>
                                <input type="text" class="form-control shadow" placeholder=" " th:value="${ls.getOne(param.bookID).titulo}" readonly>
                                <label>Libro</label>
                            </div>
                            <div class="form-floating my-4">
                                <input type="text" class="form-control shadow" placeholder="" th:value="${param.clientID}" name="clienteID" hidden>
                                <input type="text" class="form-control shadow" placeholder=" " th:value="${cs.getOne(param.clientID).getNombreCompleto()}" readonly>
                                <label>Cliente</label>
                            </div>
                            <div class="form-floating my-4">
                                <input type="date" class="form-control shadow" name="fechaPrestamo" required>
                                <label>Fecha prestamo</label>
                            </div>
                            <div class="form-floating my-4">
                                <input type="date" class="form-control shadow" name="fechaDevolucion" required>
                                <label>Fecha devolución</label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn-lg btn-primary bg-gradient shadow">Confirmar</button>
                            </div>
                            <div class="d-grid gap-2 pt-3">
                                <a href="javascript: history.go(-1)"class="btn btn-lg btn-outline-primary bg-gradient shadow">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </section>

    <footer th:replace="template :: footer"></footer>
    <div th:replace="template :: scripts"></div>
</body>

</html>